# {{ ansible_managed }}

$umask 0000
$FileCreateMode 0644
$FileGroup admin

# Provides UDP syslog reception
$ModLoad imudp
$UDPServerRun 514
# Provides TCP syslog reception
$ModLoad imtcp
$InputTCPServerRun 514

$Template GENERALTEMPLATE,"{{ central_logs_directory }}/%hostname%.log"
$template LogFmt,"%timereported:::date-rfc3339% %hostname% %syslogseverity-text% %syslogtag% %msg:::drop-last-lf%\n"

if $fromhost-ip startswith '10.' then ?GENERALTEMPLATE;LogFmt
stop
