## {{ ansible_managed }}
## Log some stuff to central log hosts. TCP/UDP is controlled by hostname.
authpriv.*                                      {{ central_log_host }}
local0.*                                        {{ central_log_host }}
*.err                                           {{ central_log_host }}
