## {{ ansible_managed }}
{% if not central_log_listener %}
# LogFmt sets a better timestamp
$template LogFmt,"%timereported:::date-rfc3339% %hostname% %syslogseverity-text% %syslogtag% %msg:::drop-last-lf%\n"
## Log some stuff to central log hosts. TCP/UDP is controlled by hostname.
## @ for UDP and @@ for TCP
authpriv.*                                      {{ central_log_host }};LogFmt
local0.*                                        {{ central_log_host }};LogFmt
*.err                                           {{ central_log_host }};LogFmt

{% for program in central_log_ship_these_programs %}
if $programname startswith '{{ program }}' then {{ central_log_host }};LogFmt
{% endfor %}


$umask 0000
$FileCreateMode 0644
$FileGroup admin
{% endif %}

{% if central_log_listener %}
# Provides UDP syslog reception
$ModLoad imudp
$UDPServerRun 514
# Provides TCP syslog reception
$ModLoad imtcp
$InputTCPServerRun 514

$Template GENERALTEMPLATE,"{{ central_logs_directory }}/%hostname%.log"
$template LogFmt,"%timereported:::date-rfc3339% %hostname% %syslogseverity-text% %syslogtag% %msg:::drop-last-lf%\n"

if $fromhost-ip startswith '10.' then { 
	?GENERALTEMPLATE;LogFmt
	stop
}
{% endif %}
